.nonFooter {
    position: relative;
    text-align: center;
    background-color: #f9e795;
    min-height: 100vh;
    margin: 0;
}

.nonFooter::after {
    content: '';
    display: block;
    height: 50px;
}

h1 {
    background-color: #F96167;
    text-align: center;
}

h2 {
    background-color: #F96167;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F96167;
}

.navbar {
    float: left;
}


.link {
    font-size: 150%;
    display: block;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    color: #f9e795;
}

#prev {
    text-align: left;
}

#next {
    text-align: right;
}

#list1 {
    list-style-position: inside;
    font-size: 150%;
}

#about {
    width: 50%;
    font-size: 150%;
    margin: auto;
}

.link:hover{
    background-color:#fb1119;
}

.dropdownStuff {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdownButton {
    font-size: 150%;
    display: block;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    color: #f9e795;
    background-color: #F96167;
}

.ddlin {
    font-size: 150%;
    display: block;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    background-color: #F96167;
    color:#f9e795;
}

.ddlin:hover {
    background-color:#fb1119;
}

.dropdownButton:hover {
    background-color:#fb1119;
}

.dropdown:hover .dropdownStuff {
    display: block;
}