body {
    text-align: center;
    background-color: #f9e795;
}

h1 {
    background-color: #F96167;
    text-align: center;
}

h2 {
    background-color: #F96167;
    text-align: center;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F96167;
}

.navbar {
    float: left;
}


.link {
    font-size: 150%;
    display: block;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    color: #f9e795;
}

#prev {
    text-align: left;
}

#next {
    text-align: right;
}

#list1 {
    list-style-position: inside;
    font-size: 150%;
}

#about {
    width: 50%;
    font-size: 150%;
    margin: auto;
}

.link:hover{
    background-color:#96f995;
}