body {
    background-color: #f9e795;
    text-align: center;
}

h1 {
    background-color: #F96167;
    text-align: center;
}

h2 {
    background-color: #F96167;
    text-align: center;
}

.link {
    font-size: 150%;
}

#prev {
    text-align: left;
}

#next {
    text-align: right;
}

#list1 {
    list-style-position: inside;
    font-size: 150%;
}

#about {
    width: 50%;
    font-size: 150%;
    margin: auto;
}

.link {
    background-color: #F96167;
    border: 5px #96f995;
}

.link:hover{
    background-color:#96f995;
}

.nav {
    background-color: #F96167;
    text-align: center;
}

#userM {
    width: 500px;
}